<!-- <div class="container-fluid">
  <div class="row"> -->
    <div class="col-auto min-vh-100" id="sidebar">
      <!-- <div class="pt-4 pb-1 px-2">
        <a href="" class="text-white text-decoration-none">
          <i class="fa-solid fs-2 fa-american-sign-language-interpreting me-2"></i>
          <span class="fs-4 d-none d-sm-inline">Sidebar</span>
        </a>
      </div> -->

      <!-- <hr class="text-white"> -->
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="fa-solid fa-home me-2 text-white"></i>
            <span class="d-none d-sm-inline text-white">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="fa-solid fa-dashboard me-2 text-white"></i>
            <span class="d-none d-sm-inline text-white">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="fa-solid fa-user-circle me-2 text-white"></i>
            <span class="d-none d-sm-inline text-white">Users</span>
          </a>
        </li>
      </ul>
    </div>

  <!-- </div>


</div> -->
