<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1> Welcome to Family Connect </h1>

      <img src="/assets/flag.jpg" class="text-center" alt="American Flag">
    </div>
  </div>
</div>
